@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$dark-blue: #041F8F;
$blue-primary: #0285C9;
$blue-video: #2A1F87;
$blue-title: #303D63;
$gray: #84888C;
$gray-light: #F6F9FC;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

#container1 {

  &__title {
    color: $dark-blue;
    font-size: 2.4rem;
    line-height: 1.2;

    span {
      font-weight: normal;
    }
  }

  &__description {
    color: $gray;
    line-height: 1.5;
  }

  &__button {
    background-color: $blue-primary;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 50px;
  }

  &__advice {
    color: $blue-primary;

    strong {
      font-weight: 500;
    }
  }

  @media (min-width: 992px) {
    &__title {
      font-weight: 400;

      span {
        font-weight: 500;
      }
    }

    &__description {
      max-width: 450px;
    }

    &__button {
      width: 256px;
    }
  }
}

#container2 {
  &__video {
    min-height: 190px;
    background-color: $blue-video;
  }

  &__title {
    color: $blue-title;
    font-weight: 400;
    line-height: 1.3;

    span {
      font-weight: 500;
    }
  }

  &__description {
    color: $gray;
    line-height: 1.5;
  }

  &__link--small-screen {
    text-transform: uppercase;
    color: $blue-primary;
    font-weight: 500;
    height: 30px;
    display: flex;
    align-items: center;
  }

  @media (min-width: 992px) {
    &__description {
      max-width: 460px;
    }
  }
}

#container3 {
  background-color: $blue-primary;

  &__title {
    font-weight: 400;

    span {
      font-weight: 500;
    } 
  }

  &__description {
    line-height: 1.3;
  }

  &__link--small-screen {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    height: 30px;
    display: flex;
    align-items: center;
  }

  @media (min-width: 992px) {
    width: 92vw;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 5rem;
    border-radius: 20px;
    @include flex-center;

    &__title {
      max-width: 347px;
      line-height: 1.1;
    }

    &__description {
      max-width: 347px;
    }

    &__image {
      padding-left: 20px;
      margin-top: -70px;
    }

    &__button {
      background-color: $dark-blue;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

#container4 {
  background-color: $gray-light;

  &__title {
    color: $dark-blue;
    font-size: 2.2rem;
    font-weight: 400;

    span {
      font-weight: 500;
    }
  }

  &__description {
    color:$gray;
    line-height: 1.6;
  }

  @media (min-width: 992px) {
    width: 92vw;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 20px;
  }
}

#container4__carousel--small-screen {
  h3 {
    color: $blue-title;
    padding-top: 10px;
  }
  
  p {
    color: $gray;
    line-height: 1.8;
    padding-top: 10px;
  }

  .slick-dots li.slick-active button:before {
    color: $dark-blue;    
  }
}

#container4__grid--large-screen {
  h3 {
    color: $blue-title;
    padding-top: 10px;
    font-size: 24px;
    line-height: 28px;
  }
  
  p {
    color: $gray;
    line-height: 1.8;
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}

#container5 {

  &__title {
    color: $blue-title;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 400;

    span {
      font-weight: 500;
    }
  }

  &__description {
    color: $gray;
    line-height: 26px;
    padding-top: 10px;
  }
}

.div-company {
  border: 2px solid #F6F9FC;
  box-sizing: border-box;
  border-radius: 20px;
  height: 90px;
  @include flex-center;

  img {
    width: 75%;
  }

  @media (min-width: 992px) {
    height: 145px;

    img {
      width: 100%;
    }
    
  }
}

.div-company__card {
  @include flex-center;
}

#container6 {
  &__title {
    color: $blue-title;
    font-weight: 400;
    font-size: 2rem;

    span {
      font-weight: 500;
    }
  }

  .compare1 {
    border-bottom: 1px solid rgba(132, 136, 140, 0.295);
    width: 90%;
    margin: 0 auto;

    @media (min-width: 992px) {
      width: 100%;
      margin: 0;
      border-bottom: none;
      border-right: 1px solid rgba(132, 136, 140, 0.295);
    }
  }

  &__description {
    color: $gray;
    padding-top: 10px;
    font-size: 18px;
    line-height: 28px;
  }

  .title__li1 {
    color: $gray;
    padding-top: 10px;
  }

  .li1 {
    color: $gray;
    line-height: 28px;
  }

  .title__li2 {
    color: $blue-title;
    padding-top: 10px;
  }

  .li2 {
    color: $blue-title;
    font-weight: 500;
    line-height: 28px;
  }
}

#container7 {
  background-image: url('../../assets/images/Rectangle\ 44.png');
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: 32px;
    margin: 0 10px;
    line-height: 1.3;
  }

  &__description {
    padding-top: 20px;
    margin: 0 10px;
    font-size: 18px;
  }

  &__button {
    background-color: $blue-primary;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    width: 256px;
    margin-top: 10px;
  }

  &__description-small {
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;

    span {
      font-weight: 500;
    }
  }

  @media (min-width: 992px) {
    width: 92vw;
    max-width: 1280px;
    height: 336px;
    margin: 0 auto;
    border-radius: 20px;
  }
}

#container8 {
  &__description {
    color: $dark-blue;
    font-size: 2rem;
    line-height: 2;
    font-weight: 500;
  }

  &__posts {
    p {
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      width: 85%;
      margin: 0 auto;
      padding-bottom: 35px;
    }
  }

  .bg-34 {
    border-radius: 6px;
    min-height: 55vh;
    width: 100%;
    background-image: url('../../assets/images/Rectangle\ 34.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#footer__description {
  font-size: 2rem;
  color: $blue-title;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

button:hover {
  opacity: 0.9;
}

.icon-card {
  @include flex-center;
  height: 100px;
  outline: none;
}

.div-company {
  min-height: 83px;
  max-height: 145px;
  min-width: 146px;
  max-width: 256px;
}

.icon-compare {
  @include flex-center;
  height: 50px;
}
