.product-list{
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.product-list article {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-list p {
  font-size: 15px;
  color: #999;
  margin-top: 5px;
  line-height: 20px;
}

.product-list a {
  height: 42px;
  background: none;
  border-radius: 5px;
  border: 2px solid #665f8f;
  color: #665f8f;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.product-list a:hover {
  background-color: #665f8f;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #665f8f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.actions button:hover {
  opacity: 0.8;
}

.actions button:disabled {
  opacity: 0.4;
  cursor: default;
}