@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
  color: hsla(0, 0%, 30%, 0.959);
  width: 100%;
  height: 100vh;
}

header {
  background-color: hsl(0, 0%, 98%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

nav h1 img {
  width: 50px;
  border-radius: 10px;
}

nav h1 img:hover {
  box-shadow: 0px 0px 10px 0px rgb(126, 135, 255);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 5px;
}

header nav ul li a {
  color: hsl(236, 7%, 37%);
  font-weight: 500;
}

a {
  color: hsl(236, 7%, 37%);
  font-weight: 700;
}

.hero {
  min-width: 230px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
  padding: 15px;
}

.hero h2 {
  font-weight: 300;
}

.hero h2 span {
  font-weight: 600;
}

.hero p {
  margin-top: 10px;
}

.hero__badge-codewar {
  margin-top: 25px;
  width: 100%;
  max-width: 400px;
}

.container {
  margin-top: 10px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a, a:visited, a:focus, a:active {
  text-decoration: none;
}

a:hover {
  color: rgb(228, 113, 113);
}

.card-project {
  width: 340px;
  height: 200px;
  background-color: white;
  margin: 10px 10px;
  padding: 20px 15px;
  border-radius: 5px;
  border-bottom: 5px solid rgb(32, 60, 138);
  overflow: hidden;
}

.card-project:hover {
  box-shadow: 0px 0px 10px 0px rgb(79, 80, 87);
}

.card-project p {
  margin: 15px 0 20px;
  font-size: 15px;
}

@media screen and (min-width: 600px) {
  nav {
    padding: 10px 40px;
  }
}