@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  width: 100%;
  height: 100vh;
}

header {
  min-width: 230px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
}

header p {
  margin-top: 10px;
}

.container {
  margin-top: 40px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a, a:visited, a:focus, a:active {
  text-decoration: none;
  color: hsl(212, 86%, 64%);
}

a:hover {
  text-decoration: underline;
  color: steelblue;
}

.card-project {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 10px 15px;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 5px solid darkslategray;
}

.card-project h3 {
  height: 20%;
}

.card-project p {
  margin: 15px 0 20px;
  font-size: 15px;
  font-weight: 300;
}