* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  position: relative;
}

.show-cart {
  display: none;
  width: 80%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.show-cart__header {
  text-align: right;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 17px;
}

.show-cart__icon-x {
  text-decoration: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.container-principal {
  display: block;
}

.bg-opacity {
  background: rgb(60, 62, 71);
  background: linear-gradient(90deg, rgb(30, 32, 44) 13%, rgb(27, 27, 43) 100%);
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
  padding-right: 10px;
  border-bottom: 2px solid #777;
}

.header__icon-menu {
  opacity: 0.6;
}

.app {
  margin: 15px 10px auto 10px;
}

.event {
  display: flex;
  flex-direction: column;
}

.event__option {
  position: relative;
  border: 2px solid #999;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.event__title {
  color: #333;
  text-align: center;
  font-weight: 600;
  padding: 0px 5px 15px;
}

.event__title::after {
  content: ' ';
  display: block;
  height: 2px;
  width: 115%;
  background-color: #555;

  position: absolute;
  right: 0;
  margin-top: 7px;
}

.event__market {
  position: relative;
  margin-bottom: 12px;
}

.event__market:not(:last-child)::after {
  content: ' ';
  display: block;
  height: 2px;
  width: 115%;
  background-color: #999;

  position: absolute;
  bottom: -8px;
  left: -10px;
}

.event__market-type {
  font-weight: 300;
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.event__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}