/*
reservation__text
reservation__span
reservation__footer
*/
.reservation {
  width: 90%;
  margin: 0 auto;
}

.reservation__title {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reservation__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reservation__item {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.reservation__image {
  width: auto;
}

.reservation__div-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reservation__amount {
  display: flex;
  align-items: center;
}

.reservation__amount button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.reservation__amount button:hover {
  opacity: 0.9;
  background-color: rgb(252, 255, 71);
}

.reservation__span {
  padding-left: 5px;
  padding-right: 5px;
}

.reservation__button {
  background-color: rgba(240, 46, 46, 0.822);
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.reservation__button:hover {
  background-color: rgba(228, 2, 2, 0.89);
}

.reservation__footer-button {
  align-items: center;
  border: 0;
  border-radius: 5px;
  background-color: green;
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  margin-top: 10px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

.reservation__footer-button:hover{
  background-color: rgb(0, 187, 0);
  color: rgb(0, 0, 0);
}

.reservation__footer-button:active{
  transform: scale(0.97);
}


@media (min-width: 820px) {
  .reservation__item {
    align-items: center;
    flex-direction: row;
  }

  .reservation__image {
    height: 150px;
  }

  .reservation__button {
    padding: 15px;
  }


}