* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left {
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
}

.cover {
  padding-top: 60px;
}

.cover__div-img {
  padding-bottom: 40px;
}

.cover__img {
  border-radius: 5px;
}

.cover__name {
  font-size: 3rem;
  line-height: 1.2;
  max-width: 300px;
  margin: 0 auto;
}

.cover__profession {
  margin-top: 15px;
  margin-bottom: 60px;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

hr {
  width: 95%;
  margin-left: auto;
}

.profile {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 210px;
}

.profile:nth-child(2) {
  margin-top: 60px;
}

.profile:nth-child(4) {
  margin-top: 50px;
}

.profile__title {
  font-size: 1.3rem;
}

.profile__title::after {
  content: '';
  display: block;
  width: 140px;
  height: 2px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.profile__description {
  line-height: 1.7;
  letter-spacing: 1px;
}

.profile__description:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills {
  padding-bottom: 50px;
}

.skills__description {
  line-height: 1.7;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 20px;
}

progress {
  background: #333;
  color: red;
  border: 2px solid white;
  height: 18px;
  width: 240px;
  margin: 0 auto;
}

progress::-webkit-progress-bar {
  background: #333;
}
progress::-webkit-progress-value {
  background: white;
} 

progress::-moz-progress-bar {
  background-color: blue;
}
