// in root project terminal, run: sass --watch styles:dist/styles

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-wrap: break-word;
  max-width: 100%;
  // height: 500vh;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 980px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

header {
  position: sticky;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-bottom: 5px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: 980px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    .nav__icons {
      display: flex;
      align-items: center;

      .email-icon {
        background: #F58220;
        border-radius: 50%;
        box-shadow: 0px 1.8125px 1.8125px rgba(0, 0, 0, 0.25);
        margin-right: 20px;
        height: 60px;
        width: 60px;
        @include df-center;
      }

      .whats-icon {
        background: #3BAB39;
        border-radius: 50%;
        box-shadow: 0px 1.8125px 1.8125px rgba(0, 0, 0, 0.25);
        height: 60px;
        width: 60px;
        @include df-center;
      }
    }

  }
}

.bg-hero {
  background:
    linear-gradient(
      129.65deg, rgba(65, 53, 143, 0.8) 22.88%, rgba(65, 53, 143, 0) 78.62%
    ),
    url('../../assets/images/bg-hero--mobile.jpg') no-repeat;
  background-size: cover;
  height: 604px;
  padding-top: 50px;

  @media (min-width: 480px) {
    background:
      linear-gradient(
        129.65deg, rgba(65, 53, 143, 0.8) 22.88%, rgba(65, 53, 143, 0) 78.62%
      ),
      url('../../assets/images/bg-hero.jpg') no-repeat;
    background-position: center center;
    height: 728px;
    padding-top: 60px;
  }

  .left {
    p {
      font-size: 2rem;
      color: #F58220;
    }

    h1 {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 55px;
      text-shadow: 0px 7.77591px 7.77591px rgba(0, 0, 0, 0.25);
      max-width: 600px;

      @media (min-width: 980px) {
        font-size: 5rem;
      }
    }

    .button__large {
      background: #F58220;
      border-radius: 34px;
      color: #ffffff;
      display: none;
      font-size: 25px;
      font-weight: bold;
      height: 68px;
      width: 100%;
      max-width: 340px;

      @media (min-width: 980px) {
        display: block;
      }
    }

    .button__mobile {
      background: #3BAB39;;
      border-radius: 34px;
      color: #ffffff;
      font-size: 25px;
      font-weight: bold;
      height: 68px;
      width: 100%;
      max-width: 340px;
      @include df-center;

      @media (min-width: 980px) {
        display: none;
      }

      img {
        margin-right: 15px;
      }
    }
  }

  .right-form {
    display: none;
    position: fixed;
    top: 115px;
    right: 30px;
    width: 404px;
    background: #FFFFFF;
    border: 0.5px solid #DCDBDB;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 28px;

    @media (min-width: 980px) {
      display: block;
    }

    .form__title {
      display: flex;
      margin-bottom: 20px;

      img {
        border-radius: 50%;
        margin-right: 20px;
      }
      
      h3 {
        color: #4B338E;
        font-weight: bold;
        font-size: 25px;
        max-width: 204px;
      }
    }

    .form__wrap {
      @include df-center;
      padding: 35px;

      form {
        @include df-center;

        input {
          background: #ECEBEB;
          border-radius: 9px;
          border: none;
          color: #717070;
          font-size: 16px;
          height: 54px;
          margin-bottom: 15px;
          outline: none;
          padding-left: 20px;
          width: 100%;
          max-width: 340px;
        }

        button {
          background: #F58220;
          border-radius: 9px;
          color: #ffffff;
          font-size: 25px;
          font-weight: bold;
          height: 54px;
          width: 100%;
          max-width: 340px;
        }
      }
    }
  }
}

.wrapper-content {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 980px) {
    max-width: 60%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main__text {
  font-size: 22px;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.create {
  background: #F7F7F7;
  padding-top: 70px;
  padding-bottom: 70px;
  
  h2 {
    color: #4B338E;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .create__images {
    margin-top: 40px;
    @include df-center;

    img {
      width: 100%;
      height: 174px;
      max-width: 400px;
      margin-bottom: 40px;

      @media (min-width: 980px){
        width: 327px;
        &:first-of-type {
          margin-right: 30px;
        }
      }
    }
  }
}