@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #060231ce;
  color: #ddd;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(216, 136, 122);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  width: 100%;
}

.searching-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}