// in root project terminal, run: sass --watch styles:dist/styles

@import 'general';
@import 'variables';
@import 'bootstrap_adjust';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
}

p {
  margin-bottom: 0px;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
  color: $title;
}

h4 {
  font-size: 25px;
}

h2 {
  font-size: 22px;

  @media (min-width: 992px) {
    font-size: 38px;
  }
}

.text-post {
  column-count: 1;
  font-size: 16px;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;

  @media (min-width: 992px) {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// HEADER
.color-text {
  color: $color-text!important;
  &:hover {
    opacity: 0.8;
  }
}

.color-blue {
  color: $color-primary;
}

.color-title {
  color: $title;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2D5C8B;
  margin-bottom: 20px;
}

.button-blue {
  background-color: $button-primary;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 11px;
}

.fs-14 {
  font-size: 14px;

  @media (min-width: 1064px) {
    font-size: 16px;
  }
}

.btn-toggler {
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
  }
}

// MODAL
.modal {
  width: 100%;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.modal-content {
  border-radius: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 900px;
}

.modal-dialog {
  margin-top: 10px;
  margin-bottom: 50px;
}

.modal-header {
  background-color: #43AFDA;
  border-radius: 56px 56px 0px 0px;
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;

  .fone-mail {
    padding-right: 65px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
}

.close__modal {
  outline: none;

  &:focus {
    outline: none;
  }
}

.modal-body {
  padding-top: 0px;
  @media (min-width: 992px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  .x-close {
    position: relative;
    top: -70px;
    right: 10px;

    button {
      opacity: 0.9;
    }

    span {
      color: rgba(255,255,255,1);
      font-size: 60px;
      font-weight: normal;
      text-shadow: none;
    }
  }
}

.modal-footer {
  border-radius: 0px 0px 56px 56px;
}

.donate-now {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.donate-now li {
  width: 160px;
  height: 47px;
  font-size: 14px;
  position:relative;
  text-align: center;
}

.donate-now label, .donate-now input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
}

.donate-now input[type="radio"] {
 opacity:0.011;
 z-index:100;
}

.donate-now input[type="radio"]:checked + label {
  color: white;
  background: #014688;
}

.donate-now label {
  border: 1px solid #CCC; 
  cursor: pointer;
  z-index: 90;
  border-radius: 25px;
}

.donate-now label:hover {
  background:#fafafa;
}

.form-select {
  width: 100px;
  height: 47px;
  border-radius: 25px;
  padding: 0px;
  padding-left: 10px;
  
  &:focus {
    outline: none;
  }

  @media (min-width: 450px){
    width: 125px;
  }

  @media (min-width: 580px){
    width: 145px;
  }

  @media (min-width: 992px){
    width: 115px;
  }
}

.form-input {
  border-radius: 25px;
  height: 47px;
}

.form-textarea {
  border-radius: 25px;
  height: 106px !important;
}

// HOME
.home__main {
  max-height: 410px;
}

.home__img-hero {
  background-image: url('../../assets/images/Untitled design (4) 1.svg');
  background-position: center;
  height: 346px;

  @media (min-width: 768px) {
    background-image: url('../../assets/images/Group 179.svg');
  }
}

.hashtag {
  position: relative;
  top: -80px;
  right: 35px;

  @media (min-width: 800px) {
    position: absolute;
    top: 260px;
    right: 70px;
  }
}

.hashtag__text {
  color: white;
  font-size: 28px;
  font-style: italic;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-width: 800px) {
    font-size: 42px;
  }
}

.home__redes-sociais {
  position: relative;
  top: -15px;
  left: 100px;
}

.home__whats {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 999;
}

.home__link {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 25px;
  color: $color-text;
  border-bottom: 1px solid $color-text;
}

.home__input {
  border-radius: 20px 0 0 20px;
  border: none;
}

footer {
  padding-bottom: 100px;
}

.footer__info {
  margin-top: 100px;
}

// PAGE PELE
.hashtag-type2 p {
  font-family: Open Sans;
  font-style: italic;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -30px;

  @media (min-width: 992px) {
    top: 30px;
    font-size: 32px;
  }
}

.socials__large {
  position: relative;
  height: 100%;
  right: 30px;
  bottom: -160px;
}

.socials__small {
  position: relative;
  height: 100%;
  top: -130px;
  right: 25px;
}

.whats {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: -15px;
  right: 20px;

  @media (min-width: 992px) {
    top: 430px;
    right: 40px;
  }

  img {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 999;
  }
}

.procedimentos ul {
  list-style: none;
  max-width: 420px;

  li {
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  li:before {
    content: "•"; 
    color: #2D5C8B;
    display: inline-block; 
    width: 20px;
    margin-left: -20px;
    font-size: 30px;
  }
}

.card {
  border: none;
  padding: 0px;
  padding-left: 10px;
}

// TELEATENDIMENTO
.tele-card {
  max-width: 400px;
  height: 260px;
  background: #43AFDA;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
}

.owl-nav {
  width: 60px;
  position: relative;
  bottom: 100%;
  left: 84%;
  font-size: 50px;
  color: #43AFDA;;
}

.owl-dots {
  display: none;
}

.navbar-toggler {
  border: none;
}

.cta-fixed {
  position: fixed;
  bottom: 13px;
  z-index: 99;
}

.caldera-beleza {
  background-color: #fafafa;

  h2 {
    color: red;
  }
}