// in root project terminal, run: sass --watch styles:dist/styles

@import 'general';
@import 'variables';
@import 'bootstrap_adjust';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
  background-color: rgb(204, 202, 202);
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}

.text-post {
  column-count: 2;
}