// in root project terminal, run: sass --watch styles:dist/styles

@import 'general';
@import 'variables';
@import 'bootstrap_adjust';

body {
  background-color: rgb(204, 202, 202);
  width: 100%;
  overflow-x: hidden;
}

h1 {
  color: $color-primary;
}