.container__login {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
}

.error {
  color: red;
  padding-top: 10px;
  text-align: center;
}

.form {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 20px;
}

.inputController {
  border: 1px solid red;
  color: red;
}

.login__btn {
  background-color: #227c1f;
  border: none;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.register {
  margin-top: 10px;
  color: rgb(26, 25, 25);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__btn {
  background-color: rgb(52, 58, 57);
  font-size: 1rem;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
}