h1, p {
  background-color: #DDE0E3;    /* Light gray */
}

h1 {
  padding: 50px;
  border-bottom: 1px solid #5D6063;
}

p {
  padding: 20px 0 20px 10px;  /* Top  Right  Bottom  Left */
  margin-bottom: 50px;          /* Add this */
}

em, strong {
  background-color: #B2D6FF;
  display: inline;             /* This is the default for em and strong */
}

strong {
  margin: 50px;
}