.container__newpost {
  max-width: 600px;
  margin: 0 auto;
}

.newpost {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  overflow: hidden;
  margin-bottom: 30px;
}

textarea {
  height: 100px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

.dashboard__info {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newpost__title {
  margin-bottom: 5px;
  font-weight: 500;
}

.link__dashboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn__dashboard {
  background-color: #227c1f;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.div__logout {
  display: flex;
  justify-content: center;
}

.btn__create-post {
  background-color: rgb(52, 58, 57);
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}